node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright-report/
output/
src/Debug/Elements/
.vscode/
.env
evaluations.json
allure-results/
src/execution.log