------------------------------
🌐 CONTEXTS: 
    👉 You are in debug mode, that is dryrunning some of test scenario steps.
    👉 Please follow user request below to generate a proper script.
------------------------------
🗣️ USER INPUT:
{{ userInput }}
------------------------------
🌳 ELEMENT TREE:
{{ elementsTree }}
------------------------------
{{ AdditionalContexts }}
------------------------------