------------------------------
🧵 TASKS:
    👉 Follow the PERSONA rules provided in the system message.
    👉 You will be giving a couple of terminal logs of LLM agent to analyze
    👉 You will extract 2 json files:
        - Firstly, based on 📋 LOG ANALYZING RULES (AGENT-SPECIFIC) and associated OUTPUT SCHEMA format -> extract agent performance data
        - And finally you will recevie 📋 LOG ANALYZING RULES (SYSTEM-HEALTH) and associated OUTPUT SCHEMA format -> extract system health data
------------------------------
🗂️ TEST LOG DATA:
{{ logContent }}
------------------------------
{{ AdditionalContexts }}
------------------------------