------------------------------
📋 CODE GENERATION RULES:
    📌 Strictly follow these rules:
        👉 Valid Playwright Code ONLY
        👉 Please generate Code in Javascript. 
        👉 No explanations and assume 'page' exists.
------------------------------
{{ AdditionalRulesContexts }}
------------------------------